.page_loader
{
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    -webkit-animation: spinner 2s linear;
    animation: spinner 2s linear;
    visibility: hidden; 
}

@-webkit-keyframes spinner
{
    0% 
    {
    visibility: visible;
    opacity: 0.9;
    }

    70% 
    {
        opacity: 0.9;
    }

    100% 
    {
        opacity: 0;
        visibility: hidden;
    } 
}

.loading
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid #f3f3f3;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 1.5s linear;
    animation: spin 1.5s linear;
    z-index: 10;
    visibility: hidden;
}

@-webkit-keyframes spin 
{
    0%
    {
       visibility: visible;
       opacity: 1;
    }

    70%
    {
        opacity: 1;
    }

    100%
    {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
    }
}

