.menu
{
    background-color: #f6f6f6;
   
}

.menu p
{
    margin-top: 10%;
}

.prix
{
    display: flex;
    justify-content: flex-end;
}

.border
{
    width: 25px;
    border: 3px solid #99e2d0;
}

#bouton
{
    background: linear-gradient(#ed73da, #a35cdc);
    border: none;
    padding: 5% 15% 5% 15%;
    border-radius: 30px;
    box-shadow: 0 1px 8px grey;
}

#bouton strong
{
    color: white;
}

.commander
{
    display: flex;
    justify-content: center;

    margin-top: 15%;
    padding-bottom: 20%;
}

.case-plats
{
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    background-color: white;
    padding: 2%;
    margin-bottom: 5%;
    box-shadow: 0 1px 8px grey;
}

img
{
    object-fit: cover;
}