#restaurants
{
    background-color: #f6f6f6;
    padding: 5%;
}

#restaurants > h1
{
    margin-bottom: 15%;
}

.all-cards
{
    display: flex;
    flex-direction: column;
}

.box
{
    display: flex;
    justify-content: flex-end;
}


.nouveau 
{
    position: absolute;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #008766;
    background-color: #99E2D0;
    z-index: 5;
    padding: 2px 20px;
    border-radius: 5px;
    margin: 15px;
}

.carte-resto
{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 8px grey;
    margin-bottom: 5%;
}

.carte-resto > span
{
    padding-left: 5%;
    padding-right: 5%;
}

.img-carte-resto
{
    width: 100%;
    height: 185px;
    border-radius: 15px 15px 0px 0px;
}

.description
{
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
}

.coeur
{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
}

.coeur1
{
    position: absolute;
    animation: animationCoeur1;
    opacity: 1;
    transition: all 300ms ease-in-out; 
}

@keyframes animationCoeur1
{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}


@keyframes animationCoeur
{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.coeur2 > .fa-heart  
{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#FF79DA, #9356DC);
    animation: animationCoeur;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.coeur:hover .coeur2 > .fa-heart
{
    /* visibility: visible; */
    opacity: 1;
}

.coeur:hover > .coeur1
{
   opacity: 0;
}

img
{
    object-fit: cover;
}