#restaurants
{
    background-color: #f6f6f6;
    padding: 5%;
}

#restaurants > h1
{
    margin-bottom: 15%;
}

.nouveau 
{
    margin-right: 15px;
    margin-left: 225px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    color: #008766;
    background-color: #99E2D0;
    margin-bottom: -45px;
    z-index: 5;
}

.carte-resto
{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    padding-bottom: 8%;
    margin-bottom: 5%;
    box-shadow: 0 1px 8px grey;
}

.carte-resto > span
{
    padding-left: 5%;
    padding-right: 5%;
}

.img-carte-resto
{
    width: 100%;
    height: 185px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0px 0px;
}

.coeur
{
    display: flex;
    justify-content: flex-end;

    font-size: x-large;
    margin-top: -30px;
}

.coeur > i:hover
{
    color: #9356DC;
}

img
{
    object-fit: cover;
}
